*{
    margin: 0;
    padding: 0;
}

/* shared style */
.color-1{
    color: #FF0000;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* body style */
body{
    margin: 0 auto;
    max-width: 1320px;
}

/* header */
.header{
    
    height: 600px;
    margin: 0 auto 120px auto;
    background-image: url("../images/Banner\ Image.png");
    margin-top: 60px;
    /* padding: 177px auto; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-container{
    width: 632px;
    height: 246px;
    color: #FFFFFF;

}

.banner-subtitle{
    width: 632px;
    height: 40px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
}

.banner-title{
    width: 632px;
    height: 190px;
    text-align: center;
    font-size: 72px;
}

/* offer style */
.offer{
    width: 803px;
    height: 806px;

    margin: 0 auto 120px auto;
    text-align: center;
}

.offer-percent{
    /* width: 383px;
    height: 107px; */
    /* margin: 0 auto; */
text-align: center;
font-size: 88px;
}
/* p{
    all:unset
} */
.offer-content{
    /* width: 802.9px;
    height: 651px; */
}
.offer-description-container{
/* width: 410px;
height: 103px; */
margin: 48px auto;
display: inline-block;
}
.offer-description{
flex-direction: column;
/* width: 410px;
height: 103px; */
}
.width-1{
    /* width: 397px;
    height: 29px; */
}
.offer-description-title{
    margin-bottom: 16px;
    font-size: 24px;
}

.width-2{
    /* width: 397px;
    height: 29px; */
    font-size: 48px;
    margin-bottom: 44px;
}

.offer-description-subtitle{
    font-size: 48px;
}

.offer-description-image{
    width: 802.9px;
    height: 500px;
}


/* party style */


.party{
background:linear-gradient(to right, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0) 100%), url(../images/Vectorrr.png);
margin-bottom: 120px;
}

.party-text-div{

}
.party-title{
    font-size: 64px;
    width: 642px;
    height: 176px;
    margin-bottom: 24px;
    color: #FFFFFF;
}
.party-description{
    font-size: 18px;
    width: 697px;
    height: 60px;
    margin-bottom: 44px;
    color: #FFFFFF;
    opacity: .8;
}
.party-btn{
    /* display: block; */
    font-size: 20px;
    border: none;
    color: #FFFFFF;
    background: none;
    font-weight: bold;
}

/* join style */
.join-now{
    width: 1320px;
    height: 482px;
    background-color: hsl(0, 82%, 94%);
    border-radius: 30px;
    margin-bottom: 120px;
}

.join-now-container{
    flex-direction: column;
}

.join-now-description{
    font-size: 32px;
    width: 550px;
    height: 160px;
    text-align: center;
}
.join-now-btn{
    color: white;
    width: 167px;
    height: 57px;
    font-weight: bold;
    background-color: #FF0000;
    border: none;
    border-radius: 10px;
}

